*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}


.header {
    width: 100%;
    padding: 15px 0;

    text-align: center;
    font-size: 24;
    font-weight: 300;
    color: grey;
}

.header__logo {
    color: inherit;
    text-decoration: none;
}

.navigation__menu {
    display: flex;
    margin-left: 20px;
}

.home {
    margin-right: 10px;

    font-size: 30px;
    color: #000;

    transition: color 0.3s;
}

.home:hover {
    color: blueviolet;
}

.about {
    margin-right: 10px;

    font-size: 30px;
    color: #000;

    transition: color 0.3s;
}

.about:hover {
    color: blueviolet;
}

.skills {
    margin-right: 10px;

    font-size: 30px;
    color: #000;

    transition: color 0.3s;
}

.skills:hover {
    color: blueviolet;
}

.work {
    margin-right: 10px;

    font-size: 30px;
    color: #000;

    transition: color 0.3s;
}

.work:hover {
    color: blueviolet;
}

.download__btn {
    background-color: white;
    color: black;
    font-size: 30px;
}

.download__btn:hover {
    color: blueviolet;
}

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.hero__container {
    display: grid;
    grid-template-columns: 
     repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 20px;     
}

.hero__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__title {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 48px;
    line-height: 1.1;
}

.hero__subtitle {
    font-size: 32px;
    font-weight: 400;
    margin-left: 20px;    
}

.hero__links {
    display: flex;
    margin-left: 20px;
}

.hero__link {
    margin-right: 10px;

    font-size: 30px;
    color: #000;

    transition: color 0.3s;
}

.hero__link:hover {
    color: blueviolet;
}

.hero__btn__li {
    margin-right: 10px;

    font-size: 28px;
    color: #000;

    transition: color 0.3s;
}

.hero__btn__li:hover {
    color: blueviolet;
}

.hero__btn__tg {
    margin-right: 10px;

    font-size: 28px;
    color: #000;

    transition: color 0.3s;
}

.hero__btn__tg:hover {
    color: blueviolet;
}

.hero__btn__ml {
    margin-right: 10px;

    font-size: 28px;
    color: #000;

    transition: color 0.3s;
}

.hero__btn__ml:hover {
    color: blueviolet;
}

.hero__btn__wu {
    margin-right: 10px;

    font-size: 28px;
    color: #000;

    transition: color 0.3s;
}

.hero__btn__wu:hover {
    color: blueviolet;
}

.hero__box {
    max-width: 700px;
    justify-self: center;
    overflow: hidden;
    margin-right: 30px;

    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    border: 10px solid white;
    box-shadow: 2px 5px 10px
    rgba(0, 0, 0, 0.5);

    animation: ava-animate 5s infinite alternate;
}

.hero__box-img {
    animation: ava-bg 3s infinite alternate;
}

.hero__description {
    margin-left: 20px;
}

.footer {
    margin-left: 20px;
    color: grey;
}

@media screen and (max-width: 970px)  {
    
    .hero {
        padding-top: 30px;
    }

    .hero__container {
        grid-row-gap: 20px;
    }

    .hero_title {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .hero__subtitle {
        font-size: 22px;
        font-weight: 400;
    }

    .hero__description {
        font-size: 14px;
    }

    .hero__about {
        text-align: center;  
    }

    .hero__links {
        justify-content: center;
    }

    .hero__box {
        max-width: 350px;
    }
}

@keyframes ava-animate {
    0% {
        border-radius: 35% 65% 35% 65% / 45% 40% 60% 55% ;         
    }
    40% {
        border-radius: 74% 26% 5% 95% / 14% 40% 60% 86% ;
    }
    60% {
        border-radius: 52% 48% 58% 42% / 67% 77% 23% 33% ;
    }
    100% {
        border-radius: 50% 50% 49% 51% / 45% 46% 54% 55% ;
    }
}

@keyframes ava-bg {
    from {
        backdrop-filter: hue-rotate(0);
    }

    to {
        backdrop-filter: hue-rotate(90deg);
    }
}